# -----------------------------
# Solidity / Foundry / Hardhat
# -----------------------------

# Build artifacts
out/
cache/
broadcast/
artifacts/
artifacts/**

# Dependencies
lib/
node_modules/

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# -----------------------------
# Env / Secrets
# -----------------------------
.env
.env.*
!.env.example   # keep template for docs

# -----------------------------
# OS / Editor junk
# -----------------------------
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
.vscode/
.idea/
